@page "/"

<PageTitle>Clock Hands Coding Challenge</PageTitle>

<h1>Clock Coding Challnege</h1>
<h3>Calculate the angle of the hour and minute hands for any given time</h3>
<div class="row">

    <div class="col-12 col-lg-4">

    </div>
    <div class="col-12 col-lg-8">
        <div class="clock">
            <div class="inner-clock-face"></div>
            <div class="hand hour-hand" style=""></div>
            <div class="hand min-hand" style=""></div>
        </div>
    </div>


</div>


@code{

}